---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9Oe7T3Ol0ea7VXyLoN8ib2X9x_.9965dNjpQ8UQG_YL5CKxwBWzCNdwCnHxhdcSTCGlhjKpfTEOhhMQap&client_secret=7956755793130956252&username=eucintegrationuser%40vmware.com.vmw.dev4&password=VMware1%4023Az52gBYvxLZla1ZBjDA9SDhL
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"00DV00000088cTU!ARAAQP4vgAKpKLqnKqIO78RJe6lGDBltHzUTZP1kERRjm4yS3mVC7IdQ6Lk2Ev02BVZ6rlobFOifbGFP45z07EEKl54uN8HL","instance_url":"https://vmware--DEV4.cs12.my.salesforce.com","id":"https://test.salesforce.com/id/00DV00000088cTUMAY/005V0000002FTWZIA4","token_type":"Bearer","issued_at":"1441997033603","signature":"2VhhTwwA/4LLDY9VHr+oxOAICH9EZoQ8DUfLsGmPA4Q="}'
  recorded_at: Fri, 11 Sep 2015 18:43:54 GMT
- request:
    method: get
    uri: https://vmware--dev4.cs12.my.salesforce.com/services/apexrest/v1.0/EucDemoRestService/EUC?objType=ORTN&recId=ORTN-01368187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DV00000088cTU!ARAAQP4vgAKpKLqnKqIO78RJe6lGDBltHzUTZP1kERRjm4yS3mVC7IdQ6Lk2Ev02BVZ6rlobFOifbGFP45z07EEKl54uN8HL
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":"true","responsecode":"200","records":[{"Account Manager":"Cameron
        Milek","Sales Stage":"Pending Administrative Review","Deal License ($)":50000.00,"Segment":"Government","Customer
        Name":"Aus Inst of Health and Welfare","Forecast Status":null,"Country":"AUSTRALIA"}],"message":"SUCCESSFULLY
        RETRIEVED DATA"}'
  recorded_at: Fri, 11 Sep 2015 18:44:07 GMT
- request:
    method: get
    uri: https://vmware--dev4.cs12.my.salesforce.com/services/apexrest/v1.0/EucDemoRestService/EUC?objType=Deal&recId=1073356
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DV00000088cTU!ARAAQP4vgAKpKLqnKqIO78RJe6lGDBltHzUTZP1kERRjm4yS3mVC7IdQ6Lk2Ev02BVZ6rlobFOifbGFP45z07EEKl54uN8HL
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Wed, 16 Sep 2015 20:24:28 GMT
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9Oe7T3Ol0ea7VXyLoN8ib2X9x_.9965dNjpQ8UQG_YL5CKxwBWzCNdwCnHxhdcSTCGlhjKpfTEOhhMQap&client_secret=7956755793130956252&username=eucintegrationuser%40vmware.com.vmw.dev4&password=VMware1%4023Az52gBYvxLZla1ZBjDA9SDhL
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"00DV00000088cTU!ARAAQG1wCWz.h2Gsk283FYgFM6jaAaH2ZpcYq02amEKRgzifQFaJAzaLYfqNbTyXdcyt8It9oaFG2RgEGxfcXszSWojQ23yV","is_readonly":"false","signature":"RYy7NQWig7krL86TJK6tRuE1SH49v554JeRK2uCFGJ4=","instance_url":"https://vmware--DEV4.cs12.my.salesforce.com","id":"https://test.salesforce.com/id/00DV00000088cTUMAY/005V0000002FTWZIA4","token_type":"Bearer","issued_at":"1442435069450"}'
  recorded_at: Wed, 16 Sep 2015 20:24:33 GMT
[...]
- request:
    method: get
    uri: https://vmware--dev4.cs12.my.salesforce.com/services/apexrest/v1.0/EucDemoRestService/EUC?objType=Deal&recId=1073356
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DV00000088cTU!ARAAQP5wKPoayKp.JTuBPiuIboU43pZo0azIkKe5kw4zINsg1EjbQ8p96.Qev_zB2HKUJy7pHV9Ay9I_8eAQ9tyjQ5i3WEfI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":"true","responsecode":"200","records":[{"Customer Email
        Address":null,"Account Manager":"Tarun Khandelwal","Customer Name":"Michelin","Sales
        Stage":"07a - Agreement to Purchase","Deal License ($)":0.00,"Segment":"T2","Country":"FRANCE","Currency
        Code":"USD","Customer Title":null,"Forecast Status":"Forecast","Opportunity
        Id":"1073356"}],"message":"SUCCESSFULLY RETRIEVED DATA"}'
  recorded_at: Wed, 04 Nov 2015 10:09:07 GMT
recorded_with: VCR 2.9.3
