---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9Oe7T3Ol0ea7VXyLoN8ib2X9x_.9965dNjpQ8UQG_YL5CKxwBWzCNdwCnHxhdcSTCGlhjKpfTEOhhMQap&client_secret=7956755793130956252&username=eucintegrationuser%40vmware.com.vmw.dev4&password=VMware1%4023Az52gBYvxLZla1ZBjDA9SDhL
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"00DV00000088cTU!ARAAQP4vgAKpKLqnKqIO78RJe6lGDBltHzUTZP1kERRjm4yS3mVC7IdQ6Lk2Ev02BVZ6rlobFOifbGFP45z07EEKl54uN8HL","instance_url":"https://vmware--DEV4.cs12.my.salesforce.com","id":"https://test.salesforce.com/id/00DV00000088cTUMAY/005V0000002FTWZIA4","token_type":"Bearer","issued_at":"1441997033603","signature":"2VhhTwwA/4LLDY9VHr+oxOAICH9EZoQ8DUfLsGmPA4Q="}'
  recorded_at: Fri, 11 Sep 2015 18:43:54 GMT
- request:
    method: get
    uri: https://vmware--dev4.cs12.my.salesforce.com/services/apexrest/v1.0/EucDemoRestService/EUC?objType=ORTN&recId=ORTN-01368187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DV00000088cTU!ARAAQP4vgAKpKLqnKqIO78RJe6lGDBltHzUTZP1kERRjm4yS3mVC7IdQ6Lk2Ev02BVZ6rlobFOifbGFP45z07EEKl54uN8HL
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":"true","responsecode":"200","records":[{"Account Manager":"Cameron
        Milek","Sales Stage":"Pending Administrative Review","Deal License ($)":50000.00,"Segment":"Government","Customer
        Name":"Aus Inst of Health and Welfare","Forecast Status":null,"Country":"AUSTRALIA"}],"message":"SUCCESSFULLY
        RETRIEVED DATA"}'
  recorded_at: Fri, 11 Sep 2015 18:44:07 GMT
recorded_with: VCR 2.9.3
