---
http_interactions:
- request:
    method: post
    uri: https://api.admin:vmwareHelp%21@airwatch.vmwdev.com/API/v1/system/users/adduser
    body:
      encoding: UTF-8
      string: '{"UserName":"spec.test","Status":"true","SecurityType":"Directory","Role":"VMWDemo"}'
    headers:
      Aw-Tenant-Code:
      - UIZaNu6vmqxFf3MKAxslgOK9fJOJfyH757xuvbRLvNs=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mdm-Powered-By:
      - AirWatch @ www.air-watch.com
    body:
      encoding: UTF-8
      string: '{"Value":17}'
  recorded_at: Wed, 15 Jul 2015 19:02:12 GMT
- request:
    method: post
    uri: https://api.admin:vmwareHelp%21@airwatch.vmwdev.com/API/v1/system/users/17/deactivate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Aw-Tenant-Code:
      - UIZaNu6vmqxFf3MKAxslgOK9fJOJfyH757xuvbRLvNs=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mdm-Powered-By:
      - AirWatch @ www.air-watch.com
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Wed, 15 Jul 2015 19:02:14 GMT
- request:
    method: post
    uri: https://api.admin:vmwareHelp%21@airwatch.vmwdev.com/API/v1/system/users/17/activate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Aw-Tenant-Code:
      - UIZaNu6vmqxFf3MKAxslgOK9fJOJfyH757xuvbRLvNs=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mdm-Powered-By:
      - AirWatch @ www.air-watch.com
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Wed, 15 Jul 2015 19:02:15 GMT
- request:
    method: delete
    uri: https://api.admin:vmwareHelp%21@airwatch.vmwdev.com/API/v1/system/users/17/delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Aw-Tenant-Code:
      - UIZaNu6vmqxFf3MKAxslgOK9fJOJfyH757xuvbRLvNs=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mdm-Powered-By:
      - AirWatch @ www.air-watch.com
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Wed, 15 Jul 2015 19:02:18 GMT
- request:
    method: post
    uri: https://api.admin:vmwareHelp%21@airwatch.vmwdev.com/API/v1/system/users/17/activate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Aw-Tenant-Code:
      - UIZaNu6vmqxFf3MKAxslgOK9fJOJfyH757xuvbRLvNs=
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mdm-Powered-By:
      - AirWatch @ www.air-watch.com
    body:
      encoding: UTF-8
      string: '{"ActivityId":"fd11a3e6-ee23-4887-a092-f179589a66f7","ErrorCode":400,"Message":"User
        not found or does not have access to retrieve the details"}'
  recorded_at: Wed, 15 Jul 2015 19:04:01 GMT
recorded_with: VCR 2.9.3
