---
http_interactions:
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/signup
    body:
      encoding: US-ASCII
      string: fname=Reginald&lname=McCullough&org=Ferry%2C%20Graham%20and%20Ebert&username=hollis&email=ervin.berge%40kuhlman.com&title=Forward%20Directives%20Architect&expires_at=2015-07-08&region=dldc
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "username": "hollis",
          "password": "Cent0present"
        }
  recorded_at: Tue, 07 Jul 2015 10:00:54 GMT
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/authenticate
    body:
      encoding: US-ASCII
      string: username=hollis&password=Cent0present
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "dn": "",
          "code": 49,
          "name": "InvalidCredentialsError",
          "message": "80090308: LdapErr: DSID-0C0903C5, comment: AcceptSecurityContext error, data 701, v2580\u0000"
        }
  recorded_at: Tue, 07 Jul 2015 10:00:54 GMT
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/unregister
    body:
      encoding: US-ASCII
      string: username=hollis
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 07 Jul 2015 10:00:54 GMT
recorded_with: VCR 2.9.3
