---
http_interactions:
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/signup
    body:
      encoding: US-ASCII
      string: fname=Clovis&lname=Gislason&org=Hessel%20LLC&username=jed.raynor&email=joanny%40kleinlowe.biz&title=Future%20Data%20Analyst&expires_at=2015-07-08&region=apac
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "username": "jed.raynor",
          "password": "Judge8buy"
        }
  recorded_at: Tue, 07 Jul 2015 10:00:52 GMT
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/authenticate
    body:
      encoding: US-ASCII
      string: username=jed.raynor&password=ololo
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "dn": "",
          "code": 49,
          "name": "InvalidCredentialsError",
          "message": "80090308: LdapErr: DSID-0C0903C5, comment: AcceptSecurityContext error, data 52e, v2580\u0000"
        }
  recorded_at: Tue, 07 Jul 2015 10:00:53 GMT
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/unregister
    body:
      encoding: US-ASCII
      string: username=jed.raynor
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 07 Jul 2015 10:00:53 GMT
recorded_with: VCR 2.9.3
