- if @user.invited_by.blank?
  - sender_name  = 'the EUC Solutions Demo Team'
  - sender_email = 'eucdemohelp@vmware.com'
- else
  - sender_name  = @user.sender.display_name
  - sender_email = @user.sender.email

%center{style: "width: 100%; min-width: 580px;"}
  %table.row.header{bgcolor: "#405472", style: "border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; background: #405472; padding: 0px;"}
    %tr{align: "left", style: "vertical-align: top; text-align: left; padding: 0;"}
      %td.center{align: "center", style: "word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;", valign: "top"}
        %center{style: "width: 100%; min-width: 580px;"}
          %table.container{style: "border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; margin: 0 auto; padding: 0;"}
            %tr{align: "left", style: "vertical-align: top; text-align: left; padding: 0;"}
              %td.wrapper.last{align: "left", style: "word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;", valign: "top"}
                %table.twelve.columns{style: "border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;"}
                  %tr{align: "left", style: "vertical-align: top; text-align: left; padding: 0;"}
                    %td.center{align: "center", style: "word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;", valign: "top"}
                      %span.logo{style: "color: #fff; text-align: center; font-size: 18px; text-shadow: 1px 1px rgba(0, 0, 0, 0.23); display: inline-block; padding: 10px 0;"} VMware End User Computing Demo Portal
                    %td.expander{align: "left", style: "word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;", valign: "top"}
  %table.container{style: "border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; margin: 0 auto; padding: 0;"}
    %tr{align: "left", style: "vertical-align: top; text-align: left; padding: 0;"}
      %td{align: "left", style: "word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;", valign: "top"}
        %table.row{style: "border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"}
          %tr{align: "left", style: "vertical-align: top; text-align: left; padding: 0;"}
            %td.wrapper.last{align: "left", style: "word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;", valign: "top"}
              %table.twelve.columns{style: "border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;"}
                %tr{align: "left", style: "vertical-align: top; text-align: left; padding: 0;"}
                  %td.left-text-pad{align: "left", style: "word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px 10px;", valign: "top"}
                    %h4{align: "left", style: "color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; font-size: 25px; margin: 0; padding: 30px 0 10px;"}
                      Hi #{@user.display_name}!
                    %p.instructions{align: "left", style: "color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 10px 0 10px;"}
                      Your trial account at the
                      %a{:href => "https://portal.vmwdemo.com", target: "_blank"}
                        VMware EUC Demo Portal
                      is scheduled to expire on #{l @user.expiration_date}. The system will automatically delete your account after it has expired. If you have any questions, please contact #{sender_name} at #{sender_email}.
                    %p.info{align: "left", style: "color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 15px 0 0;"}
                      \- The EUC Solutions Team at VMware.
                  %td.expander{align: "left", style: "word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;", valign: "top"}
        %table.row.footer{style: "border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 100%; position: relative; display: block; padding: 40px 0px 0px;"}
          %tr{align: "left", style: "vertical-align: top; text-align: left; padding: 0;"}
            %td.wrapper.last{align: "left", style: "word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;", valign: "top"}
              %table.twelve.columns{style: "border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;"}
                %tr{align: "left", style: "vertical-align: top; text-align: left; padding: 0;"}
                  %td{align: "center", style: "word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;", valign: "top"}
                  %td.expander{align: "left", style: "word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;", valign: "top"}
