.middle-box.td-dialog.td-signup
  %h1 Verification
  .login
    = form_tag verify_session_path do
      = render "layouts/messages"
      .form-group
        = text_field_tag :email, params[:email], class: "form-control", placeholder: 'E-Mail'
      .form-group
        = text_field_tag :token, params[:token], class: "form-control", placeholder: 'Token'
      %button.btn.btn-info.loginbutton{:type => "submit"} Verify