<div class="menubar">
        <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
        Request an account
        </div>
</div>

<div id="signup">
    <%= render 'form' %>
</div>
