#features-table {
	td:last-child {
		text-align: right;
	}

	button {
		width: 100px;

		&::before {
			content: "Inactive";
		}

		&.active::before {
			content: "Active";
		}

		&.saving::before {
			content: "Saving…" !important;
		}
	}
}