#edit-profile-modal {
	.modal-content {
		border: none;
		overflow: hidden;
	}

	.btn {
		padding: 0 30px;
		border: none;
		border-radius: 0;
		color: #fff;
		box-shadow: none;
		text-shadow: none;
		line-height: 35px;
		font-size: 16px;
	}

	.btn-default {
		background-color: #d0041b;
	}

	.btn-success {
		background-color: #86bd25;

		&[disabled] {
			background-color: #3e5926;
		}
	}

	&.webcam-active {
		& > .modal-dialog {
			width: 390px;
		}

		#edit-profile-general {
			display: none;
		}

		#edit-profile-webcam {
			display: block;
		}
	}
}

#edit-profile-general {
	min-width: 424px;
}

#edit-profile-left {
	background-color: #e8eff6;

	img {
		padding: 20px;
	}

	.btn {
		display: block;
		margin: 10px auto;
		padding: 0 10px;
		width: 150px;
		line-height: 0;
		font-size: 14px;

		& > span {
			display: inline-block;
			max-width: 130px;
			line-height: 25px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.btn-primary {
		background-color: #4a90e2;
	}

	.btn-danger {
		background-color: #f5a623;
	}
}

#edit-profile-left-buttons {
	margin: -10px 0px 10px 0px;
}

#edit-profile-right {
	.btn {
		float: right;
		margin: 0 0 0 10px;
	}

	label {
		margin-bottom: 2px;
		color: #999;
		font-size: 12px;
		font-weight: normal;
	}

	& > .row {
		padding: 0;
		border: none;
	}

	& > .header {
		margin: 20px -15px 13px;
	}

	& > .body {
		margin: 10px -15px;
	}

	& > .footer {
		margin: 30px -15px 20px;
	}

	.modal-title {
		font-size: 24px;
	}

	.email {
		float: right;
		margin-top: 6px;
		font-size: 18px;
		color: #999;
		font-weight: 300;
	}

	.form-group {
		margin-bottom: 10px;
	}
}

#edit-profile-region {
	position: relative;
	top: -7px;
	float: left;
	line-height: 0;

	& > div {
		color: #4A90E2;
		font-size: 24px;
		font-weight: 300;
		line-height: 42px;
	}
}

#edit-profile-webcam {
	display: none;
	background-color: #e8eff6;

	& > h4 {
		margin: 20px;
		text-align: center;
	}

	& > div {
		width: 350px;
		height: 350px;
		margin: 20px;
	}

	& > footer > button {
		float: left;
		margin: 20px 0 20px 20px;
		width: 165px;
	}
}

@media (min-width: 992px) {
	#edit-profile-left,
	#edit-profile-right {
		float: none;
		display: table-cell;
		vertical-align: top;
	}
}

@media (max-width: 991px) {
	#edit-profile-left img {
		width: 135px;
		height: 135px;
	}

	#edit-profile-left-buttons {
		margin: 10px 0;
	}
}
