---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9Oe7T3Ol0ea7VXyLoN8ib2X9x_.9965dNjpQ8UQG_YL5CKxwBWzCNdwCnHxhdcSTCGlhjKpfTEOhhMQap&client_secret=7956755793130956252&username=eucintegrationuser%40vmware.com.vmw.dev4&password=VMware1%4023Az52gBYvxLZla1ZBjDA9SDhL
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"00DV00000088cTU!ARAAQG1wCWz.h2Gsk283FYgFM6jaAaH2ZpcYq02amEKRgzifQFaJAzaLYfqNbTyXdcyt8It9oaFG2RgEGxfcXszSWojQ23yV","is_readonly":"false","signature":"q/77e3x3m/3qJhWT8LJR2MyVBCoyBDyG2rNoRYcbd3M=","instance_url":"https://vmware--DEV4.cs12.my.salesforce.com","id":"https://test.salesforce.com/id/00DV00000088cTUMAY/005V0000002FTWZIA4","token_type":"Bearer","issued_at":"1442436382032"}'
  recorded_at: Wed, 16 Sep 2015 20:46:22 GMT
- request:
    method: get
    uri: https://vmware--dev4.cs12.my.salesforce.com/services/apexrest/v1.0/EucDemoRestService/EUC?objType=ORTN&recId=All
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DV00000088cTU!ARAAQG1wCWz.h2Gsk283FYgFM6jaAaH2ZpcYq02amEKRgzifQFaJAzaLYfqNbTyXdcyt8It9oaFG2RgEGxfcXszSWojQ23yV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":"true","responsecode":"404","records":null,"message":"NO_DATA_FOUND"}'
  recorded_at: Wed, 16 Sep 2015 20:46:25 GMT
recorded_with: VCR 2.9.3
