---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9Oe7T3Ol0ea7VXyLoN8ib2X9x_.9965dNjpQ8UQG_YL5CKxwBWzCNdwCnHxhdcSTCGlhjKpfTEOhhMQap&client_secret=7956755793130956252&username=eucintegrationuser%40vmware.com.vmw.dev4&password=VMware1%4023Az52gBYvxLZla1ZBjDA9SDhL
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"00DV00000088cTU!ARAAQM8zfLyKxvUC8KaS5AfnkU8yA1IP_2k6ZbXE7GSzq8cSn5zzAiheEbbBjeNNYxr_iHY0cbHuwICBSJqjyortyTj_oxA_","is_readonly":"false","signature":"I7i80xBMpf1SSlcRfGYzNtKDLfmabKPaKHi2fizGhVI=","instance_url":"https://vmware--DEV4.cs12.my.salesforce.com","id":"https://test.salesforce.com/id/00DV00000088cTUMAY/005V0000002FTWZIA4","token_type":"Bearer","issued_at":"1442841313467"}'
  recorded_at: Mon, 21 Sep 2015 13:15:14 GMT
- request:
    method: get
    uri: https://vmware--dev4.cs12.my.salesforce.com/services/apexrest/v1.0/EucDemoRestService/EUC?objType=ORTN&recId=All
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DV00000088cTU!ARAAQM8zfLyKxvUC8KaS5AfnkU8yA1IP_2k6ZbXE7GSzq8cSn5zzAiheEbbBjeNNYxr_iHY0cbHuwICBSJqjyortyTj_oxA_
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":"true","responsecode":"404","records":[{"Customer Title":"Ian
        Macintosh","Account Manager":"Cameron Milek","Sales Stage":"Pending Administrative
        Review","Deal License ($)":5020.00,"Segment":"Academic","Customer Name":"Aus
        Inst of Health and Welfare","Forecast Status":null,"Country":"AUSTRALIA","Customer
        Email Address":"tkhandelwal@vmw.com","ORTN": "1000"}],"message":"NO_DATA_FOUND"}'
  recorded_at: Mon, 21 Sep 2015 13:15:18 GMT
recorded_with: VCR 2.9.3
