---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG98SW_UPr.JFjd_11wVTsp4Nhu865RGa6OJ3wd_SCCZUzyCj5Ix.3BvmOVYpPjzPgAKnmqeNrVFo8KboQp&client_secret=605335628658027112&username=mbasanta%40vmtestdrive.com&password=Passw0rd1rOPaTAfxG9p6N8sxlLsjmkw5O
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00D37000000Q0AwEAK/00537000000J8hfAAC","issued_at":"1440148570135","token_type":"Bearer","instance_url":"https://na31.salesforce.com","signature":"4/1jxehSSTrSkbgc90Th/TXwsBfaP05yRJh+2wHheLo=","access_token":"00D37000000Q0Aw!AQcAQCNGRVapRjODwEuLlYujsoZ2kOaTTE2tcQ5EiTEGO7vb3ccWYjBCJUf3S3_ol4Il7WTTesoq4EcDjyKlomPZu6xTS0p9"}'
  recorded_at: Fri, 21 Aug 2015 09:16:10 GMT
- request:
    method: post
    uri: https://na31.salesforce.com/services/data/v28.0/sobjects/User
    body:
      encoding: UTF-8
      string: '{"email":"spec_________1@user.com","alias":"spec","firstname":"Spec","lastname":"User","username":"spec_________1@user.com","communitynickname":"spec","isactive":true,"timezonesidkey":"America/New_York","localesidkey":"en_US","EmailEncodingKey":"ISO-8859-1","LanguageLocaleKey":"en_US","ProfileId":"00e37000000h16ZAAQ"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D37000000Q0Aw!AQcAQCNGRVapRjODwEuLlYujsoZ2kOaTTE2tcQ5EiTEGO7vb3ccWYjBCJUf3S3_ol4Il7WTTesoq4EcDjyKlomPZu6xTS0p9
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=2/15000
      Location:
      - "/services/data/v28.0/sobjects/User/00537000000JOFQAA4"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"00537000000JOFQAA4","success":true,"errors":[]}'
  recorded_at: Fri, 21 Aug 2015 09:16:13 GMT
[...]
- request:
    method: patch
    uri: https://na31.salesforce.com/services/data/v28.0/sobjects/User/00537000000JOFQAA4
    body:
      encoding: UTF-8
      string: '{"isactive":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D37000000Q0Aw!AQcAQCNGRVapRjODwEuLlYujsoZ2kOaTTE2tcQ5EiTEGO7vb3ccWYjBCJUf3S3_ol4Il7WTTesoq4EcDjyKlomPZu6xTS0p9
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=2/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 21 Aug 2015 09:16:15 GMT
recorded_with: VCR 2.9.3
