<div id="topbar">
	<img src="<%= image_path("testdrive.svg") %>" width="150" height="46"/>
	<% if current_user %>
		<img id="sidebar-toggle" src="<%= image_path("menu.svg") %>" width="42" height="36"/>
	<% end %>
</div>
