---
http_interactions:
- request:
    method: post
    uri: https://api.admin:vmwareHelp%21@airwatch.vmwdev.com/API/v1/system/users/adduser
    body:
      encoding: UTF-8
      string: '{"UserName":"spec.test","Status":"true","SecurityType":"Directory","Role":"VMWDemo"}'
    headers:
      Aw-Tenant-Code:
      - UIZaNu6vmqxFf3MKAxslgOK9fJOJfyH757xuvbRLvNs=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mdm-Powered-By:
      - AirWatch @ www.air-watch.com
    body:
      encoding: UTF-8
      string: '{"Value":20}'
  recorded_at: Wed, 22 Jul 2015 10:44:37 GMT
- request:
    method: delete
    uri: https://api.admin:vmwareHelp%21@airwatch.vmwdev.com/API/v1/system/users/20/delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Aw-Tenant-Code:
      - UIZaNu6vmqxFf3MKAxslgOK9fJOJfyH757xuvbRLvNs=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mdm-Powered-By:
      - AirWatch @ www.air-watch.com
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Wed, 22 Jul 2015 10:44:38 GMT
- request:
    method: delete
    uri: https://api.admin:vmwareHelp%21@airwatch.vmwdev.com/API/v1/system/users/20/delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Aw-Tenant-Code:
      - UIZaNu6vmqxFf3MKAxslgOK9fJOJfyH757xuvbRLvNs=
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mdm-Powered-By:
      - AirWatch @ www.air-watch.com
    body:
      encoding: UTF-8
      string: '{"ActivityId":"09244b43-d355-4012-8b4f-69553a453c54","ErrorCode":400,"Message":"User
        not found or does not have access to delete the user"}'
  recorded_at: Wed, 22 Jul 2015 10:44:39 GMT
recorded_with: VCR 2.9.3
