.alert.alert-warning{role: "alert"}
  You have been provisioned an AirWatch trial account. Click
  %a.alert-link{href: '#', data: {target: "#eula-modal", toggle: "modal"}}
    here to accept the EULA and activate the trial.

#eula-modal.modal.fade{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      %form#eula-form{action: "/eula", method: "post", role: "form"}
        .modal-header
          %h4.modal-title AirWatch EULA
        .modal-body
          %input{name: "authenticity_token", type: "hidden", value: form_authenticity_token()}
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Decline
          %button#accept_eula.btn.btn-success{type: "submit"} Yes, I accept