<div class="alert alert-warning" role="alert">
	You have been provisioned an AirWatch trial account. Click <a href="#" data-toggle="modal" data-target="#eula-modal" class="alert-link">here</a> to accept the EULA and activate the trial.
</div>

<div id="eula-modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="eula-form" method="post" action="/eula" role="form">
				<div class="modal-header">
					<h4 class="modal-title">AirWatch EULA</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Decline</button>
					<button type="submit" class="btn btn-success" id="accept_eula">Yes, I accept</button>
				</div>
			</form>
		</div>
	</div>
</div>
