<div class="container container-left">
    <div class="row">
	<div class="col-md-9">
      <div class= "well sla">

                            <p style="text-align: left; font-size: 12px; color: #555; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: bold; line-height: 19px; " align="center">
Portal SLA Information:

                            </p>
                            <p style="text-align: left; font-size: 12px; color: #555; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; line-height: 19px;" align="center">
                              Super Users can expect to receive email support from the VMware Demo Team during regular business hours, these are Monday thru Friday 0900 – 1700 USA-PST.
At the moment the response times are 4 hour response and 48 hours to resolution.
Support will not be available outside of these hours or on weekends, and any public holidays that VMware observes in our regions.
                            </p>


      </div>
</div>
    </div>
</div>
