<div class="container container-left">
    <div class="row">
	<div class="col-lg-9">
<div class="alerts">
      <div class= "well sla alert-message warning">
<strong>Information:</strong>
<p>As a Super User you have the ability to generate new accounts for your customers.
It is important to understand that you will be listed as the point of contact for any users you provision accounts for, and you will be expected to perform basic first line support and troubleshooting before escalating to the EUC Demo Team.</p><br/>
<p>
Please read the following FAQ and Walkthrough guides to get started:<br/>
<ul>
<li><a href="https://vmware.awmdm.com/MyDevice/s/580/dcb4b812-bc0f-4902-969f-fbd2c259eabd/VMware%20EUC%20Demo%20Portal%20Walkthrough%20v1.1.pdf" target="_blank">VMware EUC Demo Portal Walkthrough</a></li>
<li><a href="https://vmware.awmdm.com/MyDevice/s/580/672cdbe8-b5a3-42c8-9635-5073831983c2/VMware%20EUC%20Demo%20Portal%20FAQ.pdf" target="_blank">VMware EUC Demo Portal FAQ</a></li>
</ul>
</p>
<p>
If you prefer HTML, here's a super-quick start online guide:<br/>
<ul>
<li><a href="http://guides.co/g/vmware-end-user-computing-demo-portal-user-guide" target="_blank">VMware EUC Demo Portal Quick-Start</a></li>
</ul>
</p>
<p>
Before provisioning any accounts, please familiarize yourself with the following troubleshooting information:<br/>
<ul>
<li><a href="https://pubs.vmware.com/horizon-view-60/index.jsp?topic=%2Fcom.vmware.horizon-view.administration.doc%2FGUID-6B20BD72-2BC3-41A0-A356-F85258EA5A08.html" target="_blank">Troubleshooting View</a></li>
<li><a href="https://pubs.vmware.com/horizon-view-60/index.jsp?topic=%2Fcom.vmware.horizon-view.desktops.doc%2FGUID-D2A0D9E0-696D-4962-837C-2EC203F5F79B.html" target="_blank">Troubleshooting Network Connection Problems</a></li>
<li><a href="https://pubs.vmware.com/horizon-view-60/topic/com.vmware.horizon-view.desktops.doc/GUID-D6ABDC1E-1208-44AA-9048-4E7B9E995FCA.html" target="_blank">Further Troubleshooting Information</a></li>
</ul>
</p>
</div>

      </div>
</div>
    </div>
</div>

