<div class="container container-left">
    <div class="row">
	<div class="col-lg-9">
<div class="alerts">
      <div class= "well sla alert-message warning">
<strong>Information:</strong>
<p>As a Super User you have the ability to generate new accounts for your customers.
It is important to understand that you will be listed as the point of contact for any users you provision accounts for, and you will be expected to perform basic first line support and troubleshooting before escalating to the EUC Demo Team.</p><br/>
<p>
Before provisioning any accounts, please familiarize yourself with the following troubleshooting information:<br/>
<ul>
<li><a href="http://pubs.vmware.com/view-52/index.jsp#com.vmware.view.administration.doc/GUID-6B20BD72-2BC3-41A0-A356-F85258EA5A08.html" target="_blank">Troubleshooting View Components</a></li>
<li><a href="http://pubs.vmware.com/view-52/topic/com.vmware.view.administration.doc/GUID-D2A0D9E0-696D-4962-837C-2EC203F5F79B.html" target="_blank">Troubleshooting Network Connection Problems</a></li>
<li><a href="http://pubs.vmware.com/view-52/topic/com.vmware.view.administration.doc/GUID-D6ABDC1E-1208-44AA-9048-4E7B9E995FCA.html" target="_blank">Further Troubleshooting Information</a></li>
</ul>
</p>
</div>

      </div>
</div>
    </div>
</div>

