<% if current_user.role == 'vip' %>
	<div class="alert alert-warning" role="alert">
		As a Super User you have the ability to generate new accounts for your customers. It is important to understand that you will be listed as the point of contact for any users you provision accounts for, and you will be expected to perform basic first line support and troubleshooting before escalating to the EUC Demo Team.
	</div>
<% end %>

<div class="alert alert-info" role="alert">
	<p>
		<span>We've created a few Walkthrough Videos for you to get started:</span>
		<ul>
			<li><a href="http://help.vmwdemo.com/videos" target="_blank">VMware EUC Demo Portal Walkthrough Videos</a></li>
		</ul>
	</p>
	<p>
		<span>You can also find an HTML based step-by-step Walkthrough Guide here:</span>
		<ul>
			<li><a href="http://guides.co/g/vmware-end-user-computing-global-demo-environment-walkthrough-guide-1521947/" target="_blank">VMware EUC Demo Portal Walkthrough Guide</a></li>
		</ul>
	</p>

	<% if current_user.role == 'vip' %>
		<p>
			<span>Here's a link to the VMware Horizon YouTube Playlist:</span>
			<ul>
				<li><a href="https://www.youtube.com/playlist?list=PLfr3uvmY7hBzbwkxXkJcbKR-3EZ6ED-N1" target="_blank">VMware Horizon YouTube PlayList</a></li>
			</ul>
		</p>
		<p>
			<span>Before provisioning any accounts, please familiarize yourself with the following troubleshooting information:</span>
			<ul>
				<li><a href="https://pubs.vmware.com/horizon-view-60/index.jsp?topic=%2Fcom.vmware.horizon-view.administration.doc%2FGUID-6B20BD72-2BC3-41A0-A356-F85258EA5A08.html" target="_blank">Troubleshooting View</a></li>
				<li><a href="https://pubs.vmware.com/horizon-view-60/index.jsp?topic=%2Fcom.vmware.horizon-view.desktops.doc%2FGUID-D2A0D9E0-696D-4962-837C-2EC203F5F79B.html" target="_blank">Troubleshooting Network Connection Problems</a></li>
				<li><a href="https://pubs.vmware.com/horizon-view-60/topic/com.vmware.horizon-view.desktops.doc/GUID-D6ABDC1E-1208-44AA-9048-4E7B9E995FCA.html" target="_blank">Further Troubleshooting Information</a></li>
			</ul>
		</p>
	<% end %>
</div>
