- if horizon_desktops_stats[:data].present? || horizon_sessions_stats[:data].present? || horizon_apps_stats[:data].present?
  .col-md-12.col-sm-12.col-lg-12
    %h1.lined.switch01{"data-toggle" => "collapse", href: "#collapse-home-stats"}
      %span.icon01.icon-arrow-down
      %span Stats

#collapse-home-stats
  - if horizon_desktops_stats[:data].present?
    .col-md-12.col-sm-12.col-lg-6
      .widget.activity.graph
        %h1 Horizon Activity
        %div{style: "width: 100%; height: 220px; background-color: #FFFFFF;"}
          #desktops-chart{data: {stats: horizon_desktops_stats.to_json}}

  - if horizon_sessions_stats[:data].present?
    .col-md-12.col-sm-12.col-lg-6
      .widget.activity.graph
        %h1 Horizon Sessions
        %div{style: "width: 100%; height: 220px; background-color: #FFFFFF;"}
          #sessions-chart{data: {stats: horizon_sessions_stats.to_json}}

  - if horizon_apps_stats[:data].present?
    .col-lg-12{style: 'clear: both'}
      .widget.activity.graph
        %h1 Horizon Usage
        %div{style: "width: 100%; height: 370px; background-color: #FFFFFF;"}
          #apps-chart{data: {stats: horizon_apps_stats.to_json}}  }