- if policy(:invitation).create?
  .col-sm-12
    %h1.lined.switch01{"data-toggle" => "collapse", :href => "#collapse-stats"}
      %span.icon01.icon-arrow-down
      %span Statistics

  #collapse-stats.collapse.in
    .col-md-4.col-lg-3.col-sm-12
      .ibox
        .ibox-title
          %h5 Invites
        .ibox-content
          .row.buttons
            - if current_user.invitations_left > 0
              %p
                %a.btn.btn-success.btn-default{href: '#', data: {target: "#invite-modal", toggle: "modal"}}
                  Invite New User
            %p
              - if policy(:user).index?
                %a.btn.btn-warning.btn-default{href: users_path} Manage Invitations
              - elsif current_user.invited_users.any?
                %a.btn.btn-warning.btn-default{href: '#invitations'} Manage Invitations
    .col-md-8.col-lg-9.col-sm-12
      .ibox
        .ibox-title
          %h5 Statistics
        .ibox-content
          .row
            .col-sm-4.col-md-4
              %h1.no-margins= current_user.total_invitations
              .font-bold.text-navy Total Invitations
            .col-sm-4.col-md-4
              %h1.no-margins= current_user.invitations_left
              %div Remaining Invitations
            .col-sm-4.col-md-4
              %h1.no-margins= current_user.expiring_invited_users.size
              %div Expiring Soon

    - if horizon_desktops_stats[:data].present?
      .col-md-12.col-sm-12.col-lg-6
        .widget.activity.graph
          %h1 Horizon Activity
          %div{style: "width: 100%; height: 220px; background-color: #FFFFFF;"}
            #desktops-chart.chart-holder{data: {stats: horizon_desktops_stats.to_json}}

    - if workspace_activity_stats[:data].present?
      .col-md-12.col-sm-12.col-lg-6
        .widget.activity.graph
          %h1 Identity Manager Activity
          %div{style: "width: 100%; height: 220px; background-color: #FFFFFF;"}
            #workspace-activity-chart.chart-holder{data: {stats: workspace_activity_stats.to_json}}

    - if horizon_sessions_stats[:data].present?
      .col-md-12.col-sm-12.col-lg-12
        .widget.activity.graph
          %h1 Horizon Sessions
          %div{style: "width: 100%; height: 220px; background-color: #FFFFFF;"}
            #sessions-chart.chart-holder{data: {stats: horizon_sessions_stats.to_json}}

    - if horizon_apps_stats[:data].present?
      .col-lg-12{style: 'clear: both'}
        .widget.activity.graph
          %h1 Horizon Usage
          %div{style: "width: 100%; height: 370px; background-color: #FFFFFF;"}
            #apps-chart.chart-holder{data: {stats: horizon_apps_stats.to_json}}  }

    - if workspace_apps_stats[:data].present?
      .col-lg-12{style: 'clear: both'}
        .widget.activity.graph
          %h1 Identity Manager Usage
          %div{style: "width: 100%; height: 370px; background-color: #FFFFFF;"}
            #workspace-apps-chart.chart-holder{data: {stats: workspace_apps_stats.to_json}}  }