- if policy(:invitation).create?
  .col-sm-12
    %h1.lined.switch01{"data-toggle" => "collapse", :href => "#collapse-stats"}
      %span.icon01.icon-arrow-down
      %span Statistics

#collapse-stats.collapse.in
  .col-md-4.col-lg-3.col-sm-12
    .ibox
      .ibox-title
        %h5 Invites
      .ibox-content
        .row.buttons
          - if current_user.invitations_left > 0
            %p
              %a.btn.btn-default.btn-default{href: '#', data: {target: "#invite-modal", toggle: "modal"}}
                Invite New User
          - if policy(:user).index?
            %p
              %a.btn.btn-default.btn-default{href: users_path} Manage Invitations
  .col-md-8.col-lg-9.col-sm-12
    .ibox
      .ibox-title
        %h5 Statistics
      .ibox-content
        .row
          .col-sm-4.col-md-4
            %h1.no-margins= current_user.total_invitations
            .font-bold.text-navy Total Invitations
          .col-sm-4.col-md-4
            %h1.no-margins= current_user.invitations_left
            %div Remaining Invitations
          .col-sm-4.col-md-4
            %h1.no-margins= current_user.expiring_invited_users.size
            %div Expiring Soon