.col-md-12.col-sm-12.col-lg-12
  = bootstrap_form_for(@invitation, html: {data: {force: current_user.root? || !ENV['INVITATION_FORCE_CRM_ID']}}) do |f|
    = render 'invitations/form', f: f
    = f.submit 'Send Invitation', class: 'btn btn-success', style: 'width: 100%; margin-bottom: 30px'