---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9Oe7T3Ol0ea7VXyLoN8ib2X9x_.9965dNjpQ8UQG_YL5CKxwBWzCNdwCnHxhdcSTCGlhjKpfTEOhhMQap&client_secret=7956755793130956252&username=eucintegrationuser%40vmware.com.vmw.dev4&password=VMware1%4023Az52gBYvxLZla1ZBjDA9SDhL
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"00DV00000088cTU!ARAAQP4vgAKpKLqnKqIO78RJe6lGDBltHzUTZP1kERRjm4yS3mVC7IdQ6Lk2Ev02BVZ6rlobFOifbGFP45z07EEKl54uN8HL","instance_url":"https://vmware--DEV4.cs12.my.salesforce.com","id":"https://test.salesforce.com/id/00DV00000088cTUMAY/005V0000002FTWZIA4","token_type":"Bearer","issued_at":"1441996969695","signature":"7qy6KmD5V+zB+hH3WFmYxt2oVfE4nDXyV8O2EkaRUmc="}'
  recorded_at: Fri, 11 Sep 2015 18:42:50 GMT
- request:
    method: get
    uri: https://vmware--dev4.cs12.my.salesforce.com/services/apexrest/v1.0/EucDemoRestService/EUC?objType=Deal&recId=1073356
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DV00000088cTU!ARAAQP4vgAKpKLqnKqIO78RJe6lGDBltHzUTZP1kERRjm4yS3mVC7IdQ6Lk2Ev02BVZ6rlobFOifbGFP45z07EEKl54uN8HL
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":"true","responsecode":"200","records":[{"Account Manager":"Sebastien
        Cassar","Customer Name":"Michelin","Sales Stage":"02 - Qualified","Deal License
        ($)":0.00,"Segment":"T2","Country":"FRANCE","Forecast Status":"Upside"}],"message":"SUCCESSFULLY
        RETRIEVED DATA"}'
  recorded_at: Fri, 11 Sep 2015 18:42:52 GMT
- request:
    method: get
    uri: https://vmware--dev4.cs12.my.salesforce.com/services/apexrest/v1.0/EucDemoRestService/EUC?objType=ORTN&recId=ORTN-01368187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DV00000088cTU!ARAAQP4vgAKpKLqnKqIO78RJe6lGDBltHzUTZP1kERRjm4yS3mVC7IdQ6Lk2Ev02BVZ6rlobFOifbGFP45z07EEKl54uN8HL
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Wed, 16 Sep 2015 20:24:20 GMT
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9Oe7T3Ol0ea7VXyLoN8ib2X9x_.9965dNjpQ8UQG_YL5CKxwBWzCNdwCnHxhdcSTCGlhjKpfTEOhhMQap&client_secret=7956755793130956252&username=eucintegrationuser%40vmware.com.vmw.dev4&password=VMware1%4023Az52gBYvxLZla1ZBjDA9SDhL
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"00DV00000088cTU!ARAAQG1wCWz.h2Gsk283FYgFM6jaAaH2ZpcYq02amEKRgzifQFaJAzaLYfqNbTyXdcyt8It9oaFG2RgEGxfcXszSWojQ23yV","is_readonly":"false","signature":"t8TM4nTzIeK8NvEhNR50b6zHQtzBzFoVspEMCbZe4KA=","instance_url":"https://vmware--DEV4.cs12.my.salesforce.com","id":"https://test.salesforce.com/id/00DV00000088cTUMAY/005V0000002FTWZIA4","token_type":"Bearer","issued_at":"1442435064014"}'
  recorded_at: Wed, 16 Sep 2015 20:24:24 GMT
[...]
- request:
    method: get
    uri: https://vmware--dev4.cs12.my.salesforce.com/services/apexrest/v1.0/EucDemoRestService/EUC?objType=ORTN&recId=ORTN-01368187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DV00000088cTU!ARAAQP5wKPoayKp.JTuBPiuIboU43pZo0azIkKe5kw4zINsg1EjbQ8p96.Qev_zB2HKUJy7pHV9Ay9I_8eAQ9tyjQ5i3WEfI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":"true","responsecode":"200","records":[{"Customer Title":"Ian
        Macintosh","Account Manager":"Cameron Milek","Sales Stage":"Pending Sales
        Review","Deal License ($)":5020.00,"Segment":"Academic","Customer Name":"Aus
        Inst of Health and Welfare","Forecast Status":null,"Country":"AUSTRALIA","Customer
        Email Address":"tkhandelwal@vmw.com","ORTN":"ORTN-01368187"}],"message":"SUCCESSFULLY
        RETRIEVED DATA"}'
  recorded_at: Wed, 04 Nov 2015 10:09:10 GMT
[...]
- request:
    method: get
    uri: https://vmware--dev4.cs12.my.salesforce.com/services/apexrest/v1.0/EucDemoRestService/EUC?objType=ORTN&recId=ORTN-01368187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DV00000088cTU!ARAAQP5wKPoayKp.JTuBPiuIboU43pZo0azIkKe5kw4zINsg1EjbQ8p96.Qev_zB2HKUJy7pHV9Ay9I_8eAQ9tyjQ5i3WEfI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":"true","responsecode":"200","records":[{"Customer Title":"Ian
        Macintosh","Account Manager":"Cameron Milek","Sales Stage":"Pending Sales
        Review","Deal License ($)":5020.00,"Segment":"Academic","Customer Name":"Aus
        Inst of Health and Welfare","Forecast Status":null,"Country":"AUSTRALIA","Customer
        Email Address":"tkhandelwal@vmw.com","ORTN":"ORTN-01368187"}],"message":"SUCCESSFULLY
        RETRIEVED DATA"}'
  recorded_at: Wed, 04 Nov 2015 10:09:16 GMT
recorded_with: VCR 2.9.3
