---
http_interactions:
- request:
    method: post
    uri: https://api.admin:vmwareHelp%21@airwatch.vmwdev.com/API/v1/system/admins/addadminuser
    body:
      encoding: UTF-8
      string: '{"UserName":"spec.test","LocationGroupId":"570","IsActiveDirectoryUser":"true","RequiresPasswordChange":"false","Roles":[{"Id":"87","LocationGroupId":"570"}]}'
    headers:
      Aw-Tenant-Code:
      - UIZaNu6vmqxFf3MKAxslgOK9fJOJfyH757xuvbRLvNs=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mdm-Powered-By:
      - AirWatch @ www.air-watch.com
    body:
      encoding: UTF-8
      string: '{"Value":59}'
  recorded_at: Fri, 24 Jul 2015 18:35:50 GMT
- request:
    method: delete
    uri: https://api.admin:vmwareHelp%21@airwatch.vmwdev.com/API/v1/system/admins/59/delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Aw-Tenant-Code:
      - UIZaNu6vmqxFf3MKAxslgOK9fJOJfyH757xuvbRLvNs=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: The admin user is deleted.
    headers:
      Content-Type:
      - application/json
      X-Mdm-Powered-By:
      - AirWatch @ www.air-watch.com
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Fri, 24 Jul 2015 18:35:51 GMT
- request:
    method: delete
    uri: https://api.admin:vmwareHelp%21@airwatch.vmwdev.com/API/v1/system/admins/59/delete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Aw-Tenant-Code:
      - UIZaNu6vmqxFf3MKAxslgOK9fJOJfyH757xuvbRLvNs=
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mdm-Powered-By:
      - AirWatch @ www.air-watch.com
    body:
      encoding: UTF-8
      string: '{"ActivityId":"8ac92d6d-fcb6-4549-967c-b1bf672163a1","ErrorCode":400,"Message":"User
        not found or does not have access to retrieve the details"}'
  recorded_at: Fri, 24 Jul 2015 18:35:52 GMT
recorded_with: VCR 2.9.3
