---
http_interactions:
- request:
    method: post
    uri: https://mandrillapp.com/api/1.0/messages/send.json
    body:
      encoding: UTF-8
      string: '{"message":{"from_email":"vida@jacobson.us","html":"iure autem voluptas
        molestiae commodi debitis ducimus facilis illo tempora hic eligendi ratione
        nemo laborum numquam voluptate sed eos et","to":[]},"async":false,"ip_pool":"Main
        Pool","send_at":null,"key":"Muo8MHOVZKqZc1SEsFvSAw"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 30 Sep 2015 19:32:01 GMT
recorded_with: VCR 2.9.3
