/*
 * This mod prevents wrapping of buttons within button-
 * groups for all browsers supporting flex boxes
 * (since white-space:nowrap won't work on float:left elements).
 */
.btn-group {
	display: flex;
}

.btn.btn-strong {
	width: 100%;
	padding: 12px 10px 10px 10px;
	border: none;
	background-color: $tf-green;
	box-shadow: 0 3px 0 0 darken($tf-green, 10);

	@include varela-round;
	color: #fff;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	@include animate;

	&:hover {
		background: lighten($tf-green,5);
	}

	&:active {
		background: $brand-warning;
	}
}

.container-flow {
	margin: 0 ($grid-gutter-width / -2);
}

.field_with_errors {
	@include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
}

#content {
	display: table;
	width: 100%;
	padding: 100px $content-padding $content-padding;
	transition: padding $sidebar-transition-duration ease;
}

/*
 * The default body background color is the blue one.
 * => Add this class to the root element containing actual content.
 *
 * (On XS screen sizes the body background color will be white though.)
 */
.content {
	background: #fff;
}

@media (max-width: $screen-xs-max) {
	body {
		background: #fff;
	}
}
