/*
 * This mod prevents wrapping of buttons within button-
 * groups for all browsers supporting flex boxes
 * (since white-space:nowrap won't work on float:left elements).
 */
.btn-group {
	display: flex;
}

.btn.btn-strong {
	width: 100%;
	padding: 12px 10px 10px 10px;
	border: none;
	background-color: $tf-green;
	box-shadow: 0 3px 0 0 darken($tf-green, 10);

	@include varela-round;
	color: #fff;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	@include animate;

	&:hover {
		background: lighten($tf-green,5);
	}

	&:active {
		background: $brand-warning;
	}
}

.alert {
	font-size: $font-size-small;
	font-weight: 300;

	.alert-link {
		font-weight: normal;
		color: inherit;
		text-decoration: underline;
	}
}

.container-flow {
	margin: 0 ($grid-gutter-width / -2);
}

.field_with_errors {
	@include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
}

#content {
	display: table;
	width: 100%;
	padding: 100px $content-padding $content-padding;
	transition: padding $sidebar-transition-duration ease;
}

#footer {
	width: 100%;
	line-height: 100px;
	text-align: center;
	color: #fff;
}

/*
 * The default body background color is the blue one.
 * => Add this class to the root element containing actual content.
 *
 * (On XS screen sizes the body background color will be white though.)
 */
.content {
	background: #fff;
}

.form-content {
	padding: 0;
	background: #fff;

	& > h1 {
		margin: 0;
		padding: 0.6em 0 0.5em;
		background-color: $tf-lightblue;

		@include varela-round;
		color: #fff;
		font-size: 150%;
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	& > form {
		padding: 25px 50px 50px;
	}
}

@media (max-width: $screen-xs-max) {
	body {
		background: #fff;
	}
}
