@import 'fonts';
@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datepicker3';
@import 'switchery';
@import 'mixins';
@import 'globals';

@import 'pages/signup';
@import 'pages/sidebar';
@import 'pages/dashboard';

.td-signup {
  .help-block {
    margin-bottom: 0px;
  }
}

.pagination {
  margin: 10px 0;
}

#avatar-webcam {
  text-align: center;
}

.panel-footer .pagination {
  margin: 0px;
}

#avatar-modal {
  #avatar-webcam {
    display: none;

    & > div {
      width: 360px;
      height: 360px;
      margin: 20px;

      & > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }

    footer {
      margin-bottom: 20px;
    }
  }

  &.webcam-active {
    & > .modal-dialog {
      width: 400px;
    }

    #avatar-general {
      display: none;
    }

    #avatar-webcam {
      display: block;
    }
  }
}

form {
  blockquote {
    border-bottom: 1px solid #ccc;
  }

  .add_nested_fields {
    width: 100%;
    margin-bottom: 30px;
  }

  .remove_nested_fields {
    width: 100%;
  }
}

#desktops-chart, #sessions-chart, #apps-chart {
  margin-bottom: 20px;
  width: 100%;
  font-size: 10px;
}

#desktops-chart, #sessions-chart {
  height: 220px;
}

#apps-chart {
  height: 400px;
}

.pswd_info {
  display: none;
  position:absolute;
  margin-top: 8px;
  z-index: 10;
  left:30%;
  width:250px;
  padding:15px;
  background:#fefefe;
  font-size:.875em;
  border-radius:5px;
  box-shadow:0 1px 3px #ccc;
  border:1px solid #ddd;

  .invalid {
    list-style-type: circle;
    color: $brand-danger;
  }
  .valid {
    list-style-type: disc;
    color: $brand-success;
  }

  &:before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
  }
}

.js-switch {
  display: none;
}