---
http_interactions:
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/signup
    body:
      encoding: US-ASCII
      string: fname=Bethany&lname=Emard&org=Kassulke-Kshlerin&username=felipe&email=syble%40kerluke.biz&title=Product%20Infrastructure%20Planner&expires_at=1437004800000&region=emea
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "username": "felipe",
          "password": "Discussion5snake"
        }
  recorded_at: Wed, 15 Jul 2015 17:27:44 GMT
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/authenticate
    body:
      encoding: US-ASCII
      string: username=felipe&password=Discussion5snake
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "username": "felipe",
          "name": "Bethany Emard",
          "company": "Kassulke-Kshlerin",
          "email": "syble@kerluke.biz",
          "last_login": "2015-07-15T17:27:44.332Z",
          "account_expires": "2015-07-16T00:00:00.000Z",
          "title": "Product Infrastructure Planner"
        }
  recorded_at: Wed, 15 Jul 2015 17:27:45 GMT
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/unregister
    body:
      encoding: US-ASCII
      string: username=felipe
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Wed, 15 Jul 2015 17:27:45 GMT
- request:
    method: post
    uri: https://receiver.vmwdev.com/signup
    body:
      encoding: US-ASCII
      string: fname=Estell&lname=Kihn&org=Harris%20Inc&username=arno_mcclure&email=karolann%40hammes.biz&title=Product%20Mobility%20Supervisor&expires_at=1438732800000&region=emea
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"username":"arno_mcclure","password":"Active4review"}'
  recorded_at: Tue, 04 Aug 2015 22:17:44 GMT
- request:
    method: post
    uri: https://receiver.vmwdev.com/authenticate
    body:
      encoding: US-ASCII
      string: username=arno_mcclure&password=Active4review
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"username":"arno_mcclure","name":"Estell Kihn","company":"Harris Inc","email":"karolann@hammes.biz","last_login":"2015-08-04T22:17:44.707Z","account_expires":"2015-08-05T00:00:00.000Z","title":"Product
        Mobility Supervisor"}'
  recorded_at: Tue, 04 Aug 2015 22:17:45 GMT
- request:
    method: post
    uri: https://receiver.vmwdev.com/unregister
    body:
      encoding: US-ASCII
      string: username=arno_mcclure
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 04 Aug 2015 22:17:46 GMT
recorded_with: VCR 2.9.3
