---
http_interactions:
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/signup
    body:
      encoding: US-ASCII
      string: fname=Melvina&lname=Mraz&org=Legros-Greenfelder&username=demario&email=eli%40schulist.biz&title=Dynamic%20Accountability%20Technician&expires_at=2015-07-10&region=apac
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "username": "demario",
          "password": "Chance3physical"
        }
  recorded_at: Thu, 09 Jul 2015 19:37:34 GMT
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/authenticate
    body:
      encoding: US-ASCII
      string: username=demario&password=ololo
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "dn": "",
          "code": 49,
          "name": "InvalidCredentialsError",
          "message": "80090308: LdapErr: DSID-0C0903C5, comment: AcceptSecurityContext error, data 52e, v2580\u0000"
        }
  recorded_at: Thu, 09 Jul 2015 19:37:34 GMT
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/unregister
    body:
      encoding: US-ASCII
      string: username=demario
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Thu, 09 Jul 2015 19:37:35 GMT
recorded_with: VCR 2.9.3
