---
http_interactions:
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/signup
    body:
      encoding: US-ASCII
      string: fname=Jerrell&lname=McDermott&org=Kuhic-Cole&username=leonel.veum&email=candido%40roberts.ca&title=Chief%20Implementation%20Developer&expires_at=1437004800000&region=emea
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "username": "leonel.veum",
          "password": "Wheat1up"
        }
  recorded_at: Wed, 15 Jul 2015 17:27:43 GMT
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/authenticate
    body:
      encoding: US-ASCII
      string: username=leonel.veum&password=ololo
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "dn": "",
          "code": 49,
          "name": "InvalidCredentialsError",
          "message": "80090308: LdapErr: DSID-0C0903C5, comment: AcceptSecurityContext error, data 52e, v2580\u0000"
        }
  recorded_at: Wed, 15 Jul 2015 17:27:43 GMT
- request:
    method: post
    uri: http://staging.vmwdemo.com:8080/unregister
    body:
      encoding: US-ASCII
      string: username=leonel.veum
    headers:
      Token:
      - 7Fbi6tD0uzPa0Yfc7A7Lqv0992Zi5d3p
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Wed, 15 Jul 2015 17:27:44 GMT
recorded_with: VCR 2.9.3
