#signup-form {
	input {
		box-shadow: none;

		&:hover,
		&:focus {
			border-color: #000;
		}
	}

	.field_with_errors {
		& > label {
			color: $brand-danger;
		}

		& > input {
			border-color: $brand-danger;
		}
	}

	.optional {
		font-weight: inherit;
	}

	.help-block {
		margin: (2 * $grid-gutter-width) 0 $grid-gutter-width;
		text-align: center;
		color: inherit;
	}
}

#invitation_reg_code_id {
	text-transform: uppercase;
}
