- flash.each do |name, entry|
  - if entry.is_a?(Array)
    - entry.each do |msg|
      = render partial: 'layouts/message', locals: { name: name, msg: msg.to_s }
  - else
    = render partial: 'layouts/message', locals: { name: name, msg: entry.to_s }
